body {
    padding: 3%;
    font-size: 1em;
    line-height: 1.4;
    min-width: 180px;
    max-width: 180px;
	font-family: Tahoma,serif;
	font-size: 10pt;
}

#board{
	line-height: 0;
    padding-top:5px;
}
#board div{
    width: 50px;
	height: 50px;
    display: inline-block;
    text-align: center;
    padding: 0;
    cursor: url(x.png) 8 8, crosshair;
    background-repeat: no-repeat;
    background-position: center;
}

#t0, #t1, #t3, #t4{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#t5, #t2{
    border-bottom: 1px solid black;
}
#t6, #t7{
    border-right: 1px solid black;
}

.x, .o{
    cursor: default !important;

}
.x{
    background-image: url(x.png);
}
.o{
    background-image: url(o.png);
}
.win{
    background-color: red;
}
#title{
    font-size: 16pt;
    font-weight: bold;
}
#score-o,#score-g{
    display: inline-block;
}